<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <link rel="stylesheet" href="./../public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>
  <body>
     <div class="row justify-content-right">
        <div class="col-xs-12 col-sm-8">
            <form action="/logout?_method=DELETE" method="POST">
	            <button typ="submit" class="btn btn-secondary">Log Out</button>
            </form>
        </div>
    </div>  
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
                <h1 class="blog-title display-5">Add a Entry</h1>
            </div>
        </div>
     
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
            <form id="blog-form" method="POST" action="/index">
                <div class="form-group">
                    <label for="blog-form-input-name">Username</label>
                    <input name ="EntryUsername" type="text" class="form-control" id="blog-form-input-name" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="blog-form-input-text">Title</label>
                    <input name ="EntryTitle" type="text" class="form-control" id="blog-form-input-title" placeholder="Title" />
                </div>
                <div class="form-group">
                    <label for="blog-form-input-text">Entry</label>
                    <textarea name="Entry" class="form-control" id="blog-form-textarea" rows="3"></textarea>
                </div>
                <button id="blog-form-submit" type="submit" class="btn btn-secondary">Submit</button>
            </form>
            </div>
        </div>
    </div>
    <footer id="fussbereich">
        <%- include('footer') %>
    </footer>
  </body>
</html>

